html, body {
  margin: 0px;
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

h1, h2, h3, h4 {
  margin: 0px;
  padding: 10px;
}

header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 5;
  background-color: black;
  display: flex;
}

header a {
  color: seashell;
  padding: 20px 10px;
}

header nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}

footer {
  padding-left: 20px;
  text-align: left;
}

#logo {
  height: 50px;
  margin-left: 10px;
}

#header {
  display: flex;
  align-items: center;
}

#main-body {
  width: 1200px;
  margin: auto;
  padding-top: 69px;
}

#types-of-tea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#fall-berry-blitz-tea {
  background-image: url("../images/img-berryblitz.jpg");
  width: 300px;
  height: 200px;
  background-size: cover;
  margin: 10px
}

#spiced-rum-tea {
  background-image: url("../images/img-spiced-rum.jpg");
  width: 300px;
  height: 200px;
  background-size: cover;
  margin: 10px
}

#seasonal-donuts {
  background-image: url("../images/img-donut.jpg");
  width: 300px;
  height: 200px;
  background-size: cover;
  margin: 10px
}

#myrtle-ave-tea {
  background-image: url("../images/img-myrtle-ave.jpg");
  width: 300px;
  height: 200px;
  background-size: cover;
  margin: 10px
}

#bedford-bizarre-tea {
  background-image: url("../images/img-bedford-bizarre.jpg");
  width: 300px;
  height: 200px;
  background-size: cover;
  margin: 10px
}

#locations-container {
  display: flex;
  width: 1100px;
  margin: 0px auto;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5px;
}

#contact {
  height: 200px;
  width: 100%,
}

.flex {
  display: flex;
}

.hero-image {
  background-image: url("../images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  display: flex;
  padding-top: 70px;
}

.hero-image-text {
  align-items: center;
  margin: auto;
  width: 100%;
  background-color: black;
}

.tea-of-the-month {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}

.tea-elements {
  padding: 5px;
}

.tea-elements span {
  padding: 5px;
  font-weight: bold;
}

.location-element {
  margin: 5px 20px;
  padding: 10px;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  background-color: black;
  opacity: 1;
}

.Locations-image-container {
  background-image: url("../images/img-locations-background.jpg");
  background-size: cover;
  width: 1200px;
  height: 500px;
  padding-top: 70px;
}
